# Part I. ETL Pipeline for Pre-Processing the Files

## PLEASE RUN THE FOLLOWING CODE FOR PRE-PROCESSING THE FILES

#### Import Python packages

In [1]:
# Import Python packages 
import pandas as pd
import cassandra
import re
import os
import glob
import numpy as np
import json
import csv

#### Creating list of filepaths to process original event csv data files

In [2]:
# checking your current working directory
print(os.getcwd())

# Get your current folder and subfolder event data
filepath = os.getcwd() + '/event_data'

# Create a for loop to create a list of files and collect each filepath
for root, dirs, files in os.walk(filepath):
    
# join the file path and roots with the subdirectories using glob
    file_path_list = glob.glob(os.path.join(root,'*'))
    #print(file_path_list)

/home/workspace/cassandraPrj0

#### Processing the files to create the data file csv that will be used for Apache Casssandra tables

In [3]:
# initiating an empty list of rows that will be generated from each file
full_data_rows_list = [] 
    
# for every filepath in the file path list 
for f in file_path_list:

# reading csv file 
    with open(f, 'r', encoding = 'utf8', newline='') as csvfile: 
        # creating a csv reader object 
        csvreader = csv.reader(csvfile) 
        next(csvreader)
        
 # extracting each data row one by one and append it        
        for line in csvreader:
            #print(line)
            full_data_rows_list.append(line) 
            
# uncomment the code below if you would like to get total number of rows 
#print(len(full_data_rows_list))
# uncomment the code below if you would like to check to see what the list of event data rows will look like
#print(full_data_rows_list)

# creating a smaller event data csv file called event_datafile_full csv that will be used to insert data into the \
# Apache Cassandra tables
csv.register_dialect('myDialect', quoting=csv.QUOTE_ALL, skipinitialspace=True)

with open('event_datafile_new.csv', 'w', encoding = 'utf8', newline='') as f:
    writer = csv.writer(f, dialect='myDialect')
    writer.writerow(['artist','firstName','gender','itemInSession','lastName','length',\
                'level','location','sessionId','song','userId'])
    for row in full_data_rows_list:
        if (row[0] == ''):
            continue
        writer.writerow((row[0], row[2], row[3], row[4], row[5], row[6], row[7], row[8], row[12], row[13], row[16]))

In [4]:
# check the number of rows in your csv file
with open('event_datafile_new.csv', 'r', encoding = 'utf8') as f:
    print(sum(1 for line in f))

6821

# Part II. Complete the Apache Cassandra coding portion of your project. 

## Now you are ready to work with the CSV file titled <font color=red>event_datafile_new.csv</font>, located within the Workspace directory.  The event_datafile_new.csv contains the following columns: 
- artist 
- firstName of user
- gender of user
- item number in session
- last name of user
- length of the song
- level (paid or free song)
- location of the user
- sessionId
- song title
- userId

The image below is a screenshot of what the denormalized data should appear like in the <font color=red>**event_datafile_new.csv**</font> after the code above is run:<br>

<img src="images/image_event_datafile_new.jpg">

## Begin writing your Apache Cassandra code in the cells below

#### Creating a Cluster

In [5]:
# This should make a connection to a Cassandra instance your local machine 
# (127.0.0.1)

from cassandra.cluster import Cluster
cluster = Cluster()

# To establish connection and begin executing queries, need a session
session = cluster.connect()

#### Create Keyspace

In [6]:
try:
    session.execute("""
    CREATE KEYSPACE IF NOT EXISTS eventData
    WITH REPLICATION = { 'class' : 'SimpleStrategy', 'replication_factor' : 1 }"""
                   )
except Exception as e:
    print(e)

#### Set Keyspace

In [7]:
try:
    session.set_keyspace('eventdata')
except Exception as e:
    print(e)

#### DataFrame Format

In [18]:
file = 'event_datafile_new.csv'
df = pd.read_csv(file)
df.head(2)

,artist,firstName,gender,itemInSession,lastName,length,level,location,sessionId,song,userId
0,Barry Tuckwell/Academy of St Martin-in-the-Fie...,Mohammad,M,0,Rodriguez,277.15873,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Horn Concerto No. 4 in E flat K495: II. Romanc...,88
1,Jimi Hendrix,Mohammad,M,1,Rodriguez,239.82975,paid,"Sacramento--Roseville--Arden-Arcade, CA",961,Woodstock Inprovisation,88

## 1. Return the artist, song title and song's length in the music app history that was heard during sessionId = 338, and itemInSession = 4

In [9]:
dropping1 = "DROP TABLE IF EXISTS eventdata.song_details"
session.execute(dropping1)

In [17]:
## Give me the artist, song title and song's length in the music app history that was heard during 
## sessionId = 338, and itemInSession = 4

query1 = "CREATE table IF NOT EXISTS song_details "
query1 = query1 + "(sessionId int, itemInSession int, artist text, length float, song text, PRIMARY KEY(sessionId,itemInSession))"
try:
    session.execute(query1)
except Exception as e:
    print(e)
    
file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        ## TO-DO: Assign the INSERT statements into the `query` variable
        query1 = "INSERT INTO song_details (sessionId, itemInSession, artist, length, song)"
        query1 = query1 + "VALUES (%s,%s,%s,%s,%s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query1, (int(line[8]), int(line[3]), line[0] , float(line[5]), line[9]))
        

query1 = "SELECT artist, song, length from song_details where sessionId = 338 and itemInSession = 4"


try:
    rows = session.execute(query1)
except Exception as e:
    print(e)

from prettytable import PrettyTable
song_details = PrettyTable(['Artist', 'Song', 'Length'])
for row in rows:
    song_details.add_row([row.artist, row.song, row.length])
print(song_details)

+-----------+---------------------------------+--------------------+
|   Artist  |               Song              |       Length       |
+-----------+---------------------------------+--------------------+
| Faithless | Music Matters (Mark Knight Dub) | 495.30731201171875 |
+-----------+---------------------------------+--------------------+

## 2. Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name) for userid = 10, sessionid = 182

In [16]:
dropping2 = "DROP TABLE IF EXISTS eventdata.artist_details"
session.execute(dropping2)

In [21]:
## TO-DO: Query 2: Give me only the following: name of artist, song (sorted by itemInSession) and user (first and last name)\
## for userid = 10, sessionid = 182

query2 = "CREATE table IF NOT EXISTS artist_details "
query2 = query2 + "(userId int, sessionId int, itemInSession int, artist text, song text, firstName text, lastName text, PRIMARY KEY ((userId,sessionId), itemInSession))"
try:
    session.execute(query2)
except Exception as e:
    print(e)


file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        ## TO-DO: Assign the INSERT statements into the `query` variable
        query2 = "INSERT INTO artist_details (userId, sessionId, itemInSession, artist, song, firstName, lastName)"
        query2 = query2 + "VALUES (%s, %s, %s, %s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query2, (int(line[10]), int(line[8]), int(line[3]),  line[0], line[9], line[1], line[4]))

query2 = "SELECT userId, artist, song, firstName, lastName FROM song_playlist_session WHERE sessionId = 182 and userId = 10"

try:
    rows = session.execute(query2)
except Exception as e:
    print(e)
    
    
from prettytable import PrettyTable
artist_details = PrettyTable(['Artist', 'Song', 'First Name', 'Last Name'])
for row in rows:
    artist_details.add_row([row.artist, row.song, row.firstname, row.lastname])
print(artist_details)

Error from server: code=2200 [Invalid query] message="unconfigured table song_playlist_session"
+-------------------+------------------------------------------------------+------------+-----------+
|       Artist      |                         Song                         | First Name | Last Name |
+-------------------+------------------------------------------------------+------------+-----------+
|  Down To The Bone |                  Keep On Keepin' On                  |   Sylvie   |    Cruz   |
|    Three Drives   |                     Greece 2000                      |   Sylvie   |    Cruz   |
| Sebastien Tellier |                      Kilometer                       |   Sylvie   |    Cruz   |
|   Lonnie Gordon   | Catch You Baby (Steve Pitron & Max Sanna Radio Edit) |   Sylvie   |    Cruz   |
+-------------------+------------------------------------------------------+------------+-----------+

### 3. Give me every user name (first and last) in my music app history who listened to the song 'All Hands Against His Own'

In [22]:
dropping3 = "DROP TABLE IF EXISTS eventdata.user_details"
session.execute(dropping3)

In [23]:
##Give me every user name (first and last) in my music app history who listened to the 
## song 'All Hands Against His Own'

query3 = "CREATE table IF NOT EXISTS user_details "
query3 = query3 + "(userId int, sessionId int, itemInSession int, artist text, song text, firstName text, lastName text, PRIMARY KEY ((userId,sessionId), itemInSession))"

try:
    session.execute(query3)
except Exception as e:
    print(e)


file = 'event_datafile_new.csv'

with open(file, encoding = 'utf8') as f:
    csvreader = csv.reader(f)
    next(csvreader) # skip header
    for line in csvreader:
        ## TO-DO: Assign the INSERT statements into the `query` variable
        query3 = "INSERT INTO user_details (userId, sessionId, itemInSession, artist, song, firstName, lastName)"
        query3 = query3 + "VALUES (%s, %s, %s, %s, %s, %s, %s)"
        ## TO-DO: Assign which column element should be assigned for each column in the INSERT statement.
        ## For e.g., to INSERT artist_name and user first_name, you would change the code below to `line[0], line[1]`
        session.execute(query3, (int(line[10]), int(line[8]), int(line[3]), line[0], line[9], line[1], line[4]))

query3 = "SELECT firstName, lastName from user_details WHERE song = 'All Hands Against His Own' ALLOW FILTERING"


try:
    rows = session.execute(query3)
except Exception as e:
    print(e)
    
from prettytable import PrettyTable
user_details = PrettyTable(['First Name', 'Last Name'])

for row in rows:
    user_details.add_row([row.firstname, row.lastname])
print(user_details)

+------------+-----------+
| First Name | Last Name |
+------------+-----------+
|   Tegan    |   Levine  |
| Jacqueline |   Lynch   |
|    Sara    |  Johnson  |
+------------+-----------+

### Drop the tables before closing out the sessions

In [24]:
dropping1 = "DROP TABLE IF EXISTS eventdata.song_details"
session.execute(dropping1)

In [25]:
dropping2 = "DROP TABLE IF EXISTS eventdata.artist_details"
session.execute(dropping2)

In [26]:
dropping3 = "DROP TABLE IF EXISTS eventdata.user_details"
session.execute(dropping3)

### Close the session and cluster connectionÂ¶

In [27]:
session.shutdown()
cluster.shutdown()